body{
    overflow: auto;
    width:"100vw"
}
.btn-b{
    background-color:inherit;
    border: 1px solid #511;
    color: #511;
}
.btn:hover{
    background-color: #511 !important;
    color:white !important;
    border: none;
}
.login{
     width: 100vw;
     height: 100vh;
     background: #354152;
     display: flex;
    justify-content: center;
}
.heading-login{
    opacity: 1;
    font-size: 2rem;
    color: #511;
    padding-bottom: .7rem;
}
.form{
    margin-top: 4rem;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.4rem;
    background-color: #374559 !important;
    box-shadow: 10px 10px 8px 7px #54647a;
}
.form-group{
   background: inherit;
   opacity: 0.8;
   border: 1px solid #7e8ba3;
   border-radius: 50px;
   padding: 8px 20px;
color: #511; 
   line-height: 0;
   
}
.form-group input{
    background: inherit;
    outline: none;
    border: none;
   
    font-weight: bolder;
    color: rgb(233, 229, 229);
}
.btn-login{
    position: relative;
    margin-top:1rem ;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(160deg, #8ceabb 0%, #378f7b 100%);
    width: 75%;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color:#511;
     opacity: 0.9;
}

.title-input{
    width: 100%;
    outline:0cm;
    border: 0;
    border-bottom: 1.5px solid black;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;


}
#add-blog{
height:29rem!important;
overflow: auto;

}

@media only screen and (max-width:510px){
    #add-blog {
            height: 37.5rem !important;
    
        }
}
@media only screen and (max-width:309px) {
    #add-blog {
        height: 38.9rem !important;

    }
}
@media only screen and (min-width:510px) {
    #add-blog {
        height: 36.5rem !important;

    }
}
@media only screen and (min-width:1000px) {
    #add-blog {
        height: 30.5rem !important;

    }
}